.container {
background-color: pink;
height: 100%
}

header {
width: 1024px;
height: 100px;
background-color: green;
margin-left: auto;
margin-right: auto;
}

header h1{
font-family: arial;
text-align: center;
padding-top: 30px;
}

nav {
width: 1024px;
height: 100px;
background-color: blue;
margin-left: auto;
margin-right: auto;
}

main {
width: 1024px;
height: 300px;
background-color: orange;
margin-left: auto;
margin-right: auto;}

footer {
width: 1024px;
height: 100px;
background-color: red;
margin-left: auto;
margin-right: auto;
}