h1{
    color: rgb(0, 26, 255);
    text-align: center;

}

header {
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
    width: 1024px;
    height: 100px;
}

header h1{
   margin-left: auto;
   margin-right: auto;
   padding-top: 30px;
}

nav {
    width: 1024px;
    height: 100px;
    background-color: green;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 40px;

}

nav a{
    font-size: 15px;
    padding-top: 40px;
    font-color: green;
    padding-top: 50px;
}


main p {
    font-size: 15px;
    text-align: center;
    font-family: arial;

}
p {

}

h2{
    color: green;
    font:oblique;
    text-align: center;
}

.box1
{
    background-color: rgb(21, 182, 182)
    text-align: center;
}

.box2
{
    background-color: gold;
    text-align: center;
}

.box3
{
    background-color: wheat;
    text-align: center;
}