<!DOCTYPE html>
<html lang = "en" dir = "ltr">
<head>
    <meta charset = "utf-8">
    <title>About Flask</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class = "container">
<h1>About Flask</h1>
    <h2>Second Header</h2>
</div>
<p> Flask is a micro web framework written in Python.</p>
<p> Applications that use the Flask framework include Pinterest, LinkedIn,
and the community web page for Flask itself.</p>
</body>
</html>