<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steel Defect Detection Using Neural Networks</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="box1">
        <h1>Steel Defect Detection</h1>
    </div>
<p>
    We see that steel is ubiquitous in nature. It is present
    in numerous industries such as buildings, mechanical equipments, automotive,
    metal, and transport industries. 
</p>
<p>
    Looking at a lot of applications of steel, manufacturing of steel is 
    important so that it matches the demand for various industries. 
</p>
<p>
    There are, however, defects in steel that arise 
    due to extremely cold temperatures when pouring the steel
    mould when it's not hot enough and so on. Sometimes, certain 
    parts of steel might cool much quicker than the others causing 
    hot spot defects. There are many other problems associated 
    when manufacturing and using steel. 
</p>
<p>
    Therefore, proper steps must be taken to address this issue of defects
    in steel. 
</p>

</body>
</html>