<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Steel Defect Detection Using Neural Networks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="box1">
        <h1>Steel Defect Detection</h1>
    </div>
<p>
    We see that steel is ubiquitous in nature. It is present
    in numerous industries such as buildings, mechanical equipments, automotive,
    metal, and transport industries. 
</p>
<p>
    Looking at a lot of applications of steel, manufacturing of steel is 
    important so that it matches the demand for various industries. 
</p>
<p>
    There are, however, defects in steel that arise 
    due to extremely cold temperatures when pouring the steel
    mould when it's not hot enough and so on. Sometimes, certain 
    parts of steel might cool much quicker than the others causing 
    hot spot defects. There are many other problems associated 
    when manufacturing and using steel. 
</p>
<p>
    Therefore, proper steps must be taken to address this issue of defects
    in steel. One way would be to properly identify the defects manually
    by employing a lot of human labor in the process. Nonetheless, 
    this process is time-confusing and often difficult. Therefore, alternate
    steps must be taken to improve the productivity and efficiency of 
    producing steel respectively. 
</p>
<h2 class="box2">Convoluted Neural Networks</h2>
<p>
    <strong>Convoluted Neural Network</strong> work extremely well with image data. They are able to
    accurately classify the image depending the pre-trained networks used. The 
    process used when creating this network is called <strong>"transfer learning"</strong>. The 
    weights of the networks that were already trained in the previous tasks are taken.
    Only the last few layers are trained for our task of detecting the defects in 
    steel. Therefore, it would give us a very good accuracy as the pre-trained models performed
    well on the task that they were assigned.

</p>

<h3 class="box3">Please insert an image of steel</h3>



</body>
</html>