<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Steel Defect Detection</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
    </head>
<body>
<div class="container">
<header>
    <h1>Steel Defect Detection</h1>
    <form action = "/action_page.php">
        <input type = "file" id="myFile" name = "filename">
        <input type = "submit">
    </form>
</header>
<nav></nav>
<main></main>
<footer></footer>
</div>

</body>